body {
    background: blue;
    text-align: center;
  }
div{
 text-align: center;

}
button{
    border-radius: 20px;
    background-color: brown;
    height: 30px;
    width: 130px;
}


  canvas {
    border: 3px whitesmoke;
    background-color: black;
    text-align: center;
  }
