body {
    background: black;
    text-align: center;
  }
div{
 text-align: center;

}
button{
    border-radius: 20px;
    background-color: brown;
    height: 30px;
    width: 130px;
}


  canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    text-align: center;
  }
